# **Advanced Certification in AIML**

## **A Program by XYZ**

Introduction to Python

# **Intro to Jupyter Notebook**
- SHIFT + ENTER for Executing the CELL using Jupyter Notebook

Shortcut in both modes:

- CTRL + ENTER run selected cells
- Alt + ENTER run the current cell,insert below
- Ctrl + S save and checkpoint

In [ ]:
a=2
b=2
c=a+b
print(c)

4

In [ ]:
firstname="Mayur"
Lastname="Zope"
Name = firstname + Lastname
print(Name)

MayurZope

In [ ]:
a=5
b=5
print(a,'\n',b,a+b,'\n',b)

5
 5 10
 5

# **Scalar Data types/numeric data types**
  - ## Integer
  - ## Float
  - ## Boolean
  - ## Complex

In [ ]:
# Interger types

a = 3.4
b = 2.8
print(type(a))
add = a + b
sub = a - b
mul = a * b
div = a / b
exp = a**b

print(add,sub,mul,div,exp,sep='\n')

<class 'float'>
6.199999999999999
0.6000000000000001
9.52
1.2142857142857144
30.770954475832802

In [ ]:
# Float types

a = 3.4
b = 2.8
print(type(a))
add = a + b
sub = a - b
mul = a * b
div = a / b
exp = a**b

print(add,sub,mul,div,exp,sep='\n')

<class 'float'>
6.199999999999999
0.6000000000000001
9.52
1.2142857142857144
30.770954475832802

In [ ]:
# **Boolean data types**

a = 4
b = 5
c = a < b
print(c)
type(c)
print(a < b,a <= b, a > b, a >= b, a == b, a != b,sep = '\n')

True
True
True
False
False
False
True

In [ ]:
d= True
print(d)
type(d)

e= False
print(e)
type(d)

True
False

bool

In [ ]:
a = 5
b = 6.5
# logical operators
print(a<b,a>b,a<=b,a>=b,a==b,a!=b,sep='\n')

True
False
True
False
False
True

In [ ]:
# Complex numbers

z=2+3j
print(z)
type(z)

(2+3j)

complex

In [ ]:
z1=complex(3,4)
type(z1)

z2 = complex (real=2,imag=3)

z3 = complex (imag=3,real=2)

# using z1 and z2,apply on the arithmetic operations - add,sub,mul,div ,store it and print

add=z1+z2
sub=z1-z2
mul=z1*z2
div=z1/z2
print(add,sub,mul,div,sep='\n')

(5+7j)
(1+1j)
(-6+17j)
(1.3846153846153848-0.07692307692307697j)

In [ ]:
z1.conjugate()

z1.imag

4.0

In [ ]:
# String data types in Python

first_name = "Mayur"
last_name = "Zope"
print(first_name,last_name,sep=' ')
print(type(first_name))

# are string subscriptable or not
first_name[2]

# slicing
first_name[0:4]

Mayur Zope
<class 'str'>

'Mayu'

In [ ]:
name='mayur'
last='ZOPE'
print(name.capitalize())

print(name.upper())
print(last.lower())

description = 'My name is mayur'
print(type(description))

print(description.split())

Mayur
MAYUR
zope
<class 'str'>
['My', 'name', 'is', 'mayur']

In [ ]:
des=description.split()
print(des)
type(des)

details = "statistics","python","sql","tableau","machinelearning"
print(details)
type(details)

states = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi"
print(states)
type(states)

#tuples indexing
states[1]

#are tuples mutable? no

# Give me an example to show that tuples are heterogeneous and can be indexed but are immutable in nature?
states1 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
print(states[6])
type(states)

['My', 'name', 'is', 'mayur']
('statistics', 'python', 'sql', 'tableau', 'machinelearning')
('Maharashtra', 'UP', 'MP', 'West Bengal', 'Punjab', 'Delhi')
5.65

tuple

In [ ]:
states = "Maharashtra",("Mumbai","Pune"),"Goa"
print(states)

('Maharashtra', ('Mumbai', 'Pune'), 'Goa')

In [ ]:
# Createa a string 
myprofile = "My name is Mayur and I am pursuing PCDS course in Datafolkz 2 4"
print(myprofile)

# split the string and store the results into my profile_split
myprofile_split= myprofile.split()
print(myprofile_split)
print(type(myprofile_split))

# Can the tuples be converted to lists
states1 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
print(states1)
print(type(states1))
states_list = list(states1)
print(states_list)
print(type(states_list))

# can we convert list to tuple

states1 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
print(states1)
print(type(states1))
states1_tuple=tuple(states1)
print(states1_tuple)
print(type(states1_tuple))

# can the list be indexed
states1 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
len(states1)
states1[3]

# are the list mutable
state2 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
state2[3]

My name is Mayur and I am pursuing PCDS course in Datafolkz 2 4
['My', 'name', 'is', 'Mayur', 'and', 'I', 'am', 'pursuing', 'PCDS', 'course', 'in', 'Datafolkz', '2', '4']
<class 'list'>
('Maharashtra', 'UP', 'MP', 'West Bengal', 'Punjab', 'Delhi', 5.65)
<class 'tuple'>
['Maharashtra', 'UP', 'MP', 'West Bengal', 'Punjab', 'Delhi', 5.65]
<class 'list'>
('Maharashtra', 'UP', 'MP', 'West Bengal', 'Punjab', 'Delhi', 5.65)
<class 'tuple'>
('Maharashtra', 'UP', 'MP', 'West Bengal', 'Punjab', 'Delhi', 5.65)
<class 'tuple'>

'West Bengal'

In [ ]:
# are the list mutable
state2 = "Maharashtra","UP","MP","West Bengal","Punjab","Delhi",5.65
print(type(state2))
state2[3] = "Goa"

<class 'tuple'>

TypeError: ignored